<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmaranthineServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AmaranthineServer.Properties.Settings>
            <setting name="ServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>6669</value>
            </setting>
            <setting name="WatcherIP" serializeAs="String">
                <value />
            </setting>
            <setting name="RDSLink" serializeAs="String">
                <value />
            </setting>
            <setting name="S3Link" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoOn" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="ServerLogSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ArchivedServerLogSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AutoArchiveServerLog" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="RDSUsername" serializeAs="String">
                <value>Leonidas</value>
            </setting>
            <setting name="eRDSPassword" serializeAs="String">
                <value>loadRDS</value>
            </setting>
            <setting name="eS3UserString" serializeAs="String">
                <value />
            </setting>
            <setting name="eS3SecretString" serializeAs="String">
                <value />
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>debug</value>
            </setting>
            <setting name="LogCharLength" serializeAs="String">
                <value>50000</value>
            </setting>
        </AmaranthineServer.Properties.Settings>
    </userSettings>
</configuration>